[Unit]
Description=My app
[Service]
ExecStart=/home/ec2-user/webservice/app.js
User=ec2-user
SuccessExitStatus=143
RemainAfterExit=yes
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/webservice/
[Install]
WantedBy=multi-user.target